body{
    font-family: 'Roboto Slab', serif;
    font-weight: 700px;
    margin: 0;
}
.top-bg{
    background-image: url(images/top-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.mid-bg{
    background-image: url(images/bg-mid.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    color: gray;
}
.orange{
    color: orange;
}
.section{
    display: flex;
    width: 100%;
}
.last-section{
    display: flex;
    width: 100%;
    margin-right: 5%;
}
.half-width{
    width: 50%;
    margin-left: 50px;
}
.one-third{
    width: 36%;
    height:  550px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px 20px 0px 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px red;
}
.one-third img{
    width: 100%;
    border-radius: 30px;
}
.half-width img{
    width: 80%;
    margin: 20px;
}
#first-section{
    padding-left: 60px;
}
#about-me{
    text-align: justify;
    padding-right: 80px;
}
.para{
    font-size: 20px;
    font-weight: 300;
    color: gray;
}
.para-2{
    font-size: 20px;
}
.Link{
    text-decoration: none;
    background-image: linear-gradient(to right, skyblue, yellow);
    padding: 15px;
    border-radius: 30px;
}
.centre{
    width: 40%;
    margin: 0 auto ;
    text-align: center;
}
.justify{
    text-align: justify;
}
#bg-color{
    background-color: darkblue;
    text-align: center;
    padding-top: 20px;
}